<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GradeTracker.Properties.Settings.GradeTrackerConnectionString"
            connectionString="Data Source=DESKTOP-ARHJATI\DBGRADETRACKER;Initial Catalog=GradeTracker;Persist Security Info=True;User ID=omarUrbano;Password=wrxwrx23;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>